<h1>Add a Company</h1>

<form method="post" action="/GameCompany">
	<div class="form-group">
		<label for="Name">Name:</label>
		<input type="text" id="Name" name="Name" />
	</div>
	<div class="form-group">
		<label for="Location">Location:</label>
		<input type="text" id="Location" name="Location" />
	</div>
	<button type="submit">Create Company</button>
</form>